.container {
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#output {
  display: none;
}

#price {
  float: right;
  font-size: 30px;
  margin-top: 15px;
}

img {
  height: 70px;
  width:auto;
  margin-left: -3%;
  margin-bottom: -20px;
}

#regal {
  font-style: italic;
}

#time {
  font-size: 20px;
}

#enjoy {
  font-size: 40px;
  font-family: cursive;
}

.theater-owner {
  display: none;
}

#owner-button {

  margin-top: 500px;
}
